
h1{
    font-family: "siruca", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    text-align: center;
}   

ul {
    list-style-type: none;
    padding: 5px;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 0px 3px;
    border: 1px solid blueviolet;
    border-radius: 5px;
    font-size: large;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px darkred;
    transform: translate(4px);
}

body{
    background-color: #F2F2F2
}

/* header sytles */

header {
    background-color:#F29F05;
    padding: 10px 0px 10px 0px;

}

footer {
    background-color: #F29F05;
    height: 30px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
    color: white;
    padding: 10px 0px;
}

/* section one flex grow and shrink */

.container-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.push {
    margin-left: auto;
}

.section-one {
    background-color: blueviolet;
    
    
}

.flexgrow-container {
    display: flex;
}

.box1 {
    background-color: skyblue;
    
    height: 200px;
    flex: 1 1 auto;

}

.box2 {

    background-color: lightgreen;
    
    height: 200px;
    flex: 2 1 auto;
}

.box3 {

    background-color: darkmagenta;
    
    height: 200px;
    flex: 1 1 auto;

}

/* section 2 center item */

.section-two {
    background-color: #BF0426;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* section 3 youtube video */

.section-three {
    background-color: #D95A11;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;

}

iframe { 
    padding: 5px;
    
}


/* section 4 embed audio */

.section-four {
    background-color:#BF0426;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

figcaption{
    font-size: 20px;
    font-style: italic;
    color:aliceblue;
    align-items: center;
    justify-content: center;
}

/* section 5 media items */

.section-five {
    background-color: #D95A11;
}

.media-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 15px 25px 15px 15px;
}

.media-container .mediacontent {
    flex: 1;
    padding: 10px;
}

.mediacontent {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: navy;
    font-size: 20px;
}



/* Button sections */

.button-one-section{
    background-color:  #BF0426    ;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-top-img{
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
    width: 70%;
}


